<br><br><br><br><br><br>
<mat-tab-group dynamicHeight style="align-items: center;">
            <mat-tab label="Login" style="font-size: xx-large;">
                              <div class="example-small-box mat-elevation-z4">
                                      <div style="font-size: medium;">
                                        <br><br><br><br>
                                        <form class="example-form">
                                        <mat-form-field class="example-full-width">
                                          <mat-label>Email Id</mat-label>
                                              <input matInput type="email" [(ngModel)]="email" name="email" placeholder="Ex. xyz@gmail.com" >
                                          </mat-form-field>  
                                        </form>
                                      </div><br>
                                      <form class="example-form">
                                      <div style="font-size: medium;">      
                                            <mat-form-field class="example-full-width">          
                                                      <mat-label>Password</mat-label>
                                                           <input matInput type="password" [(ngModel)]="paswd" name="paswd" placeholder="Password">
                                                           <mat-hint align="end">Min. 8 Characters</mat-hint>    
                                            </mat-form-field>         
                                      </div><br><br><br></form>
                                      <div class="example-button-row">
                                              <button mat-flat-button color="primary" (click)="siginUser()" [routerLink]="['/app-welcome-page']" routerLinkActive="router-link-active" >Login</button>
                                      </div>                          
                              </div>
            </mat-tab>

             <mat-tab label="Register" style="font-size: xx-large;">
                              <div class="example-large-box mat-elevation-z4">
                                            <form class="example-form">
                                                  <mat-form-field class="example-full-width">
                                                      <mat-label>First Name</mat-label>
                                                    <input matInput [(ngModel)]="UserFirstName" name="UserFirstName"  placeholder="First Name" required>
                                                  </mat-form-field>
                                                  <mat-form-field class="example-full-width">  
                                                    <mat-label>Last Name</mat-label>
                                                    <input matInput [(ngModel)]="UserLastName" name="UserLastName"
                                                       placeholder="Last Name" required>
                                                  </mat-form-field>
                                                  <mat-form-field class="example-full-width">  
                                                    <mat-label>Company Name</mat-label>
                                                    <input matInput [(ngModel)]="CompanyName" name="CompanyName"
                                                      placeholder="Company Name" required>
                                                  </mat-form-field>
                                                  <mat-form-field class="example-full-width">
                                                  <mat-label>Email Id</mat-label>
                                                    <input matInput type="email" [(ngModel)]="email" name="email"
                                                       placeholder="Ex. xyz@gmail.com" required>
                                                  </mat-form-field>  
                                                  <mat-form-field class="example-full-width">
                                                    <mat-label>Password</mat-label>
                                                           <input matInput type="password" [(ngModel)]="paswd" name="paswd"
                                                              placeholder="Password" required>
                                                           <mat-hint align="end">Min. 8 Characters</mat-hint>
                                                  </mat-form-field>
                                                  <mat-form-field>
                                                          <mat-label>Catalogue</mat-label>
                                                                <mat-select   
                                                                [(ngModel)]="UserCatalouge" name="UserCatalouge"
                                                                  color="primary">
                                                                  <mat-option value="EUR"> EUR </mat-option>
                                                                  <mat-option value="GBP"> GBP </mat-option>
                                                                  <mat-option value="INR"> INR </mat-option>
                                                                  <mat-option value="USD"> USD </mat-option>
                                                        <!--      <mat-option value="Afghanistan"> Afghanistan </mat-option>
                                                                  <mat-option value="Albania"> Albania </mat-option>
                                                                  <mat-option value="Algeria"> Algeria </mat-option>
                                                                  <mat-option value="Andorra"> Andorra </mat-option>
                                                                  <mat-option value="Angola"> Angola </mat-option>
                                                                  <mat-option value="Antigua"> Antigua and Barbuda </mat-option>
                                                                  <mat-option value="Argentina"> Argentina </mat-option>
                                                                  <mat-option value="Armenia"> Armenia </mat-option>
                                                                  <mat-option value="Australia"> Australia </mat-option>
                                                                  <mat-option value="Azerbaijan"> Azerbaijan </mat-option>
                                                                  <mat-option value="Bahamas"> Bahamas </mat-option>	
                                                                  <mat-option value="Bahrain"> Bahrain </mat-option>
                                                                  <mat-option value="Bangladesh"> Bangladesh </mat-option>
                                                                  <mat-option value="Barbados"> Barbados </mat-option>
                                                                  <mat-option value="Belarus"> Belarus </mat-option>	
                                                                  <mat-option value="Belgium"> Belgium </mat-option>
                                                                  <mat-option value="Belize"> Belize </mat-option>	
                                                                  <mat-option value="Benin"> Benin </mat-option>	
                                                                  <mat-option value="Bhutan"> Bhutan </mat-option>	
                                                                  <mat-option value="Bolivia"> Bolivia </mat-option>	
                                                                  <mat-option value="Bosnia and Herzegovina"> Bosnia and Herzegovina </mat-option>
                                                                  <mat-option value="Botswana"> Botswana </mat-option>
                                                                  <mat-option value="Brazil"> Brazil </mat-option>	
                                                                  <mat-option value="Brunei"> Brunei </mat-option>	
                                                                  <mat-option value="Bulgaria"> Bulgaria </mat-option>
                                                                  <mat-option value="Burkina Faso"> Burkina Faso </mat-option>
                                                                  <mat-option value="Burundi"> Burundi </mat-option>	
                                                                  <mat-option value="Côte d'Ivoire"> Côte d'Ivoire </mat-option>
                                                                  <mat-option value="Cabo Verde"> Cabo Verde </mat-option>	
                                                                  <mat-option value="Cambodia"> Cambodia </mat-option>	
                                                                  <mat-option value="Cameroon"> Cameroon </mat-option>	
                                                                  <mat-option value="Canada"> Canada </mat-option>	
                                                                  <mat-option value="Central African Republic"> Central African Republic </mat-option>
                                                                  <mat-option value="Chad"> Chad </mat-option>
                                                                  <mat-option value="Chile"> Chile </mat-option>
                                                                  <mat-option value="China"> China </mat-option>
                                                                  <mat-option value="Colombia"> Colombia </mat-option>
                                                                  <mat-option value="Comoros"> Comoros </mat-option>	
                                                                  <mat-option value="Congo (Congo-Brazzaville)"> Congo (Congo-Brazzaville) </mat-option>
                                                                  <mat-option value="Costa Rica"> Costa Rica </mat-option>
                                                                  <mat-option value="Croatia"> Croatia </mat-option>	
                                                                  <mat-option value="Cuba"> Cuba </mat-option>	
                                                                  <mat-option value="Cyprus"> Cyprus </mat-option>	
                                                                  <mat-option value="Czechia (Czech Republic)"> Czechia (Czech Republic) </mat-option>	
                                                                  <mat-option value="Democratic Republic of the Congo"> Democratic Republic of the Congo </mat-option>
                                                                  <mat-option value="Denmark"> Denmark </mat-option>
                                                                  <mat-option value="Djibouti"> Djibouti </mat-option>
                                                                  <mat-option value="Dominica"> Dominica </mat-option>
                                                                  <mat-option value="Dominican Republic"> Dominican Republic </mat-option>
                                                                  <mat-option value="Ecuador"> Ecuador </mat-option>
                                                                  <mat-option value="Egypt"> Egypt </mat-option>	
                                                                  <mat-option value="El Salvador"> El Salvador </mat-option>
                                                                  <mat-option value="Equatorial Guinea"> Equatorial Guinea </mat-option>
                                                                  <mat-option value="Eritrea"> Eritrea </mat-option>
                                                                  <mat-option value="Estonia"> Estonia </mat-option>
                                                                  <mat-option value="Eswatini (fmr. Swaziland)"> Eswatini (fmr. "Swaziland") </mat-option>
                                                                  <mat-option value="Ethiopia"> Ethiopia </mat-option>
                                                                  <mat-option value="Fiji"> Fiji </mat-option>
                                                                  <mat-option value="Finland"> Finland </mat-option>	
                                                                  <mat-option value="France"> France </mat-option>	
                                                                  <mat-option value="Gabon"> Gabon </mat-option>	
                                                                  <mat-option value="Gambia"> Gambia </mat-option>	
                                                                  <mat-option value="Georgia"> Georgia </mat-option>	
                                                                  <mat-option value="Germany"> Germany </mat-option>	
                                                                  <mat-option value="Ghana"> Ghana </mat-option>	
                                                                  <mat-option value="Greece"> Greece </mat-option>	
                                                                  <mat-option value="Grenada"> Grenada </mat-option>	
                                                                  <mat-option value="Guatemala"> Guatemala </mat-option>
                                                                  <mat-option value="Guinea"> Guinea </mat-option>	
                                                                  <mat-option value="Guinea-Bissau"> Guinea-Bissau </mat-option>
                                                                  <mat-option value="Guyana"> Guyana </mat-option>	
                                                                  <mat-option value="Haiti"> Haiti </mat-option>	
                                                                  <mat-option value="Holy See"> Holy See </mat-option>
                                                                  <mat-option value="Honduras"> Honduras </mat-option>
                                                                  <mat-option value="Hungary"> Hungary </mat-option>	
                                                                  <mat-option value="Iceland"> Iceland </mat-option>	
                                                                  <mat-option value="Indonesia"> Indonesia </mat-option>
                                                                  <mat-option value="Iran"> Iran </mat-option>	
                                                                  <mat-option value="Iraq"> Iraq </mat-option>	
                                                                  <mat-option value="Ireland"> Ireland </mat-option>	
                                                                  <mat-option value="Israel"> Israel </mat-option>	
                                                                  <mat-option value="Italy"> Italy </mat-option>	
                                                                  <mat-option value="Jamaica"> Jamaica </mat-option>	
                                                                  <mat-option value="Japan"> Japan </mat-option>	
                                                                  <mat-option value="Jordan"> Jordan </mat-option>	
                                                                  <mat-option value="Kazakhstan"> Kazakhstan </mat-option>
                                                                  <mat-option value="Kenya"> Kenya </mat-option>	
                                                                  <mat-option value="Kiribati"> Kiribati </mat-option>
                                                                  <mat-option value="Kuwait"> Kuwait </mat-option>	
                                                                  <mat-option value="Kyrgyzstan"> Kyrgyzstan </mat-option>
                                                                  <mat-option value="Laos"> Laos </mat-option>	
                                                                  <mat-option value="Latvia"> Latvia </mat-option>	
                                                                  <mat-option value="Lebanon"> Lebanon </mat-option>	
                                                                  <mat-option value="Lesotho"> Lesotho </mat-option>	
                                                                  <mat-option value="Liberia"> Liberia </mat-option>	
                                                                  <mat-option value="Libya"> Libya </mat-option>	
                                                                  <mat-option value="Liechtenstein"> Liechtenstein </mat-option>
                                                                  <mat-option value="Lithuania"> Lithuania </mat-option>	
                                                                  <mat-option value="Luxembourg"> Luxembourg </mat-option>	
                                                                  <mat-option value="Madagascar"> Madagascar </mat-option>	-->
                                                                </mat-select>
                                                  </mat-form-field>
                                                  
                                                  <mat-checkbox style="padding:29px;" required>Terms and Conditions</mat-checkbox>        
                                                  

                                        </form>


                                        <div class="example-button-row">
                                                  <button mat-flat-button color="primary" (click)="RegEmp()">Register</button>
                                        </div>
                              </div>
              </mat-tab>
</mat-tab-group>
